.address-list, .team-list, .services-list, .services-imgs-list, .works-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #1d1d1d;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 375px;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}
.section--small-top-padding {
  padding-top: 15px;
}
.section--small-bottom-padding {
  padding-bottom: 15px;
}
.section--big-top-padding {
  padding-top: 48px;
}
.section--big-bottom-padding {
  padding-bottom: 96px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.section__title--right {
  text-align: right;
}
.section__title--center {
  text-align: center;
}

.section__text {
  margin-top: 18px;
  margin-bottom: 16px;
  max-width: 255px;
  letter-spacing: 0.03em;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 14px;
  padding-bottom: 6px;
  width: 100%;
  min-height: 60px;
  background-color: #ffffff;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: block;
  padding: 8px 0;
  width: 56px;
  height: 32px;
}

.menu-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  color: #1d1d1d;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover .menu-btn__icon, .menu-btn:focus .menu-btn__icon {
  color: #fe5d26;
}

.menu-btn__icon {
  fill: currentColor;
}

.menu-container {
  display: none;
  position: absolute;
}

.btn {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 168px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: capitalize;
  color: #1d1d1d;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #fe5d26;
}
.btn--primary {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1d1d1d;
}
.btn--center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  padding-top: 225px;
  padding-bottom: 126px;
  background-image: linear-gradient(rgba(29, 29, 29, 0.85), rgba(29, 29, 29, 0.85)), url("../images/mobile-images/mobile-hero-img.png");
  background-size: contain;
  background-position: center, 50% 74px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(29, 29, 29, 0.85), rgba(29, 29, 29, 0.85)), url("../images/mobile-images/mobile-hero-img@2x.png");
  }
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #ffffff;
}

.works-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.work-thumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.work-thumb__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 26px;
}
.work-thumb__container::after {
  position: absolute;
  left: 0;
  bottom: -13px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fe5d26;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.work-thumb__container--reverse {
  flex-direction: row-reverse;
}

.work-thumb__title {
  padding: 0 4px;
  height: 111px;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: center;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  background-color: #fe5d26;
  transform: rotate(180deg);
}

.work-thumb__descr {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.work-thumb__time {
  display: block;
}

.works-list__text {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

.services-imgs-list {
  position: relative;
  margin-bottom: 17px;
  height: 252px;
}

.services-imgs-list__item {
  position: absolute;
}
.services-imgs-list__item:nth-child(1) {
  top: 0;
  left: 47.23%;
  z-index: 1;
  width: 204px;
  transform: translateX(-50%);
}
.services-imgs-list__item:nth-child(2) {
  bottom: 0;
  left: -1px;
  z-index: 2;
}
.services-imgs-list__item:nth-child(3) {
  bottom: 0;
  right: 0;
}

.services-list {
  margin-bottom: 16px;
  padding-left: 17px;
}

.services-list__item {
  position: relative;
  margin-bottom: 8px;
  max-width: 151px;
  letter-spacing: 0.03em;
}
.services-list__item:nth-child(3) {
  margin-bottom: 0;
}
.services-list__item--hidden {
  display: none;
}
.services-list__item::after {
  position: absolute;
  top: -1px;
  left: -16px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fe5d26;
  border-radius: 50%;
}

.symbol-hidden {
  display: none;
}

.gallery-container {
  padding: 5px 16px;
  background-color: #1d1d1d;
}

.gallery-center {
  margin-right: auto;
  margin-left: auto;
  max-width: 342px;
}

.team-list__item {
  position: relative;
}
.team-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.team-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  background-color: #1d1d1d;
}

.contacts {
  font-style: normal;
}

.address-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.address-list__item:not(:last-child) {
  margin-bottom: 26px;
}

.address-list__link {
  display: block;
  max-width: 255px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #1d1d1d;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: #fe5d26;
}

.address-list__icon {
  fill: #1d1d1d;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover + .address-list__icon, .address-list__link:focus + .address-list__icon {
  fill: #fe5d26;
}

.address-list__icon-point {
  fill: #ffffff;
  stroke: #1d1d1d;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover + .address-list__icon-point, .address-list__link:focus + .address-list__icon-point {
  stroke: #fe5d26;
}

.page-form {
  padding: 0 8px;
}

.page-form__field {
  display: block;
  margin-bottom: 16px;
}

.page-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.page-form__input {
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  color: #1d1d1d;
  border: 0.5px solid #1d1d1d;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.05));
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-form__input:focus {
  border-color: #fe5d26;
}
.page-form__input--no-resize {
  height: 144px;
  resize: none;
}

.page-footer {
  background-color: #1d1d1d;
}/*# sourceMappingURL=main.css.map */