.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  padding-top: 14px;
  padding-bottom: 6px;
  width: 100%;
  min-height: 60px;

  background-color: $color-primary-bg;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: block;
  padding: 8px 0;
  width: 56px;
  height: 32px;
}

.menu-btn {
  padding: 0;
  width: 40px;
  height: 40px;

  color: $color-primary;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: background-color $duration $timing-function;

  &:hover .menu-btn__icon,
  &:focus .menu-btn__icon {
    color: $color-accent;
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.menu-btn__icon {
  fill: currentColor;
}

.menu-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;

  padding: 40px;
  width: 100vw;
  height: 100vh;

  background-color: $color-primary-bg;

  transform: translateY(-100%);
  transition: transform $duration $timing-function;

  &.active {
    transform: translateY(0);
  }
}

.menu-container__list {
  @extend %list;
}

.menu-container__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.menu-container__link {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $color-primary;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
