.contacts-section {
  padding-bottom: 15px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 20px;
  }
}

.contacts-section__title {
  margin-bottom: 32px;
}

.contacts {
  font-style: normal;
}

.address-list {
  @extend %list;

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 150px;
  }
}

.address-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  @media screen and (max-width: calc($desktop - 1px)) {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 24px;
    width: 290px;
  }
}

.address-list__link {
  display: block;
  max-width: 255px;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $color-primary;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.address-list__icon {
  fill: $color-primary;

  transition: fill $duration $timing-function;

  .address-list__link:hover + &,
  .address-list__link:focus + & {
    fill: $color-accent;
  }
}

.address-list__icon-point {
  fill: $color-secondary;
  stroke: $color-primary;

  transition: stroke $duration $timing-function;

  .address-list__link:hover + &,
  .address-list__link:focus + & {
    stroke: $color-accent;
  }
}
