.hero-section {
  padding-top: 225px;
  padding-bottom: 126px;

  background-color: $color-hero-bg;
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: $color-secondary;
}
