.team-list {
  @extend %list;
}

.team-list__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.team-list__title {
  position: absolute;
  bottom: 0;
  left: 0;

  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0;
  max-width: 342px;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-secondary;

  background-color: $color-primary;
}
