.works-section {
  position: relative;

  @media screen and (min-width: $desktop) {
    padding-top: 89px;
  }
}

.works-section__title {
  @media screen and (min-width: $desktop) {
    position: absolute;

    margin-bottom: 0;

    &::after {
      position: absolute;
      top: 50%;
      left: 221px;
      content: '';
      display: block;
      height: 4px;
      width: 180px;

      background-color: $color-accent;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

      transform: translateY(-50%);
    }
  }
}

.works-list {
  @extend %list;
}

.works-list__item {
  &:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 48px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &:nth-child(2n) {
      flex-direction: row;
    }
  }
}

.work-thumb {
  margin-bottom: 16px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.work-thumb__container {
  position: relative;

  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 26px;

  &::after {
    position: absolute;
    right: 0;
    bottom: -13px;

    content: '';
    display: block;
    height: 2px;
    width: 100%;

    background-color: $color-accent;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: $desktop) {
      bottom: -40px;

      height: 4px;
      width: 620px;
    }
  }

  @media screen and (min-width: $desktop) {
    gap: 40px;
    flex-direction: row-reverse;
    margin-bottom: 48px;
  }

  &--reverse {
    flex-direction: row-reverse;

    @media screen and (min-width: $desktop) {
      flex-direction: row;

      &::after {
        left: 0;
      }
    }
  }
}

.work-thumb__box {
  position: relative;

  flex-shrink: 0;
  height: 111px;
  width: 24px;

  background-color: $color-accent;

  @media screen and (min-width: $desktop) {
    width: 70px;
    height: 290px;
  }
}

.work-thumb__title {
  position: absolute;
  top: 50%;
  left: 4px;
  height: 100%;

  margin: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: center;
  writing-mode: vertical-rl;

  transform: rotate(180deg) translateY(50%);

  @media screen and (min-width: $desktop) {
    left: 19px;

    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.03em;
  }
}

.work-thumb__descr {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    max-width: 620px;

    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

    &--left {
      margin-left: 0;
    }
  }
}

.work-thumb__time {
  display: block;
}

.works-list__text {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    padding: 116px 0;
    width: 510px;
  }
}
