$color-primary: #1d1d1d;
$color-secondary: #ffffff;
$color-accent: #fe5d26;

$color-primary-bg: #ffffff;
$color-hero-bg: rgba(29, 29, 29, 0.85);

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$hero-gradient: linear-gradient(rgba(29, 29, 29, 0.85), rgba(29, 29, 29, 0.85));
